<p id="notice"><%= notice %></p>

<p>
  <b>Dnis:</b>
  <%= @route.dnis %>
</p>

<p>
  <b>Ringto:</b>
  <%= @route.ringto %>
</p>


<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
